<div class="container">
    <div class="login">
        <form [formGroup]="loginForm" (submit)="onSubmit()">
            <label for="name">Jméno: </label> <br>
            <input formControlName="name" type="text"> <br>
            <label for="email">Email: </label> <br>
            <input formControlName="email" type="text"> <br>
            <label for="password">Heslo: </label> <br>
            <input formControlName="password" type="password"> <br>
        
            <button type="submit">Submit</button>
        </form>

        <label *ngIf="this.acc_exists" class="success">Sucess!</label>
    </div>

    
</div>
<router-outlet></router-outlet>