.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    margin: 1em 0;
}


.success {
    margin-top: 1em;
    color: green;
}

.fail {
    margin-top: 1em;
    color: red;
}