<div class="container">
    <div class="register">
        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <label for="name">Jméno: </label> <br>
            <input formControlName="name" type="text"> <br>
            <label for="email">Email: </label> <br>
            <input formControlName="email" type="text"> <br>
            <label for="password">Heslo: </label> <br>
            <input formControlName="password" type="password"> <br>
            <label for="password_again">Heslo znovu: </label> <br>
            <input formControlName="password_again" type="password"> <br>
        
            <button type="submit">Submit</button>
        </form>
    </div>

    
</div>


