body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 150;
}

.container {
    width: 80%;
    height: 60px;
    margin: 0 auto;
}

.navbar {
    background: #55d6aa;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

nav a:hover {
    color: #000;
    
    
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 400ms;
}

nav a:hover::before {
    width: 100%;
}

.navbar::after {
    content: '';
    display: table;
    clear: both;
}

