<div class="navbar">
    <div class="container">
        <nav>
            <ul>
                <li><a href="" routerLink="">Home</a></li>
                <li *ngIf="isLoggedIn(); else userJoin"><a href="" (click)="logout()">Logout</a></li>
                <ng-template #userJoin>
                    <li><a href="" routerLink="/register">Register</a></li>
                    <li><a href="" routerLink="/login">Login</a></li> 
                </ng-template>
                <li *ngIf="isLoggedIn()"><a href="" routerLink="/images-data">Users</a></li>
                <li *ngIf="isLoggedIn()"><a href="" routerLink="/userinfo">Data</a></li>
            </ul>
        </nav>
    </div>
</div>

