  <ng-container *ngIf="launchDetails$ | async as launchDetails">
    <section style="padding-top: 20px;">
      <mat-card style="width: 400px; margin: auto;">
        <mat-card-header>
          <mat-card-title>{{ launchDetails.mission_name }}</mat-card-title>
        </mat-card-header>
        <img
          height="256"
          width="256"
          mat-card-image
          [src]="launchDetails.links.mission_patch"
          alt="Mission patch of {{ launchDetails.mission_name }}"
        />
        <mat-card-content>
          <p>{{ launchDetails.details }}</p>
        </mat-card-content>
      </mat-card>
    </section>
    <section class="photo-grid">
      <img
        *ngFor="let pic of launchDetails.links.flickr_images"
        [src]="pic"
        alt="Picture of {{ launchDetails.mission_name }}"
        height="300"
        width="300"
        loading="lazy"
      />
    </section>
  </ng-container>

  <label>Write a comment:</label>
  <input type="text" width="1000" height="500">
  <button type="submit" title="Send">Send</button>
  <ng-container *ngFor="let comment of comments">
    <section style="padding-top: 20px;">
      <mat-card style="width: 1000px; height: 100px; margin: auto;">
        x
      </mat-card>
    </section>
  </ng-container>