<section>
  <div class="play-container">
    <h1>User data</h1>
    <div>
      <table>
        <tbody>
          <tr>
            
              <td><input #name *ngIf="this.createNew" type="text" size="8" (blur)="setName(name.value)"></td>
              <td><input #email *ngIf="this.createNew" type="text" size="10" (blur)="setEmail(email.value)"></td>
              <td><input #password *ngIf="this.createNew" type="password" size="28" (blur)="setPassword(password.value)"></td>
              <td><input #token *ngIf="this.createNew" type="text" size="65" (blur)="setToken(token.value)"></td>
              <button *ngIf="this.createButton && !createNew" type="button" (click)="create();">Create</button>
              <button *ngIf="this.createNew" type="button" (click)="show()">Create</button>
              <button *ngIf="this.createNew" type="button" (click)="cancelCreate()">Cancel</button>
              
          </tr>
          <tr *ngFor="let item of userData">
              <td class="data-row"><input #updatedName id="saveUpdate" type="text" *ngIf="enableEdit && item == this.enableEditIndex" value="{{item['name']}}" (keyup)="item['name'] = updatedName.value"></td>
              <td class="data-row"><input #updatedEmail id="cancelUpdate" type="text" *ngIf="enableEdit && item == this.enableEditIndex" value="{{item['email']}}" (keyup)="item['email'] = updatedEmail.value"></td>
              <button *ngIf="enableEdit && item == this.enableEditIndex" type="button" (click)="update($event, item)">Update</button>
              <button *ngIf="enableEdit && item == this.enableEditIndex" type="button" (click)="disableEditMethod($event, item);this.createButton = true">Cancel</button>
            </tr>
        </tbody>
      </table>
    </div>
        <table>
             <thead>
                  <tr>           
                    <th *ngFor="let header of getUserData()">{{header}}</th>
                  </tr>
             </thead>
             <tbody>
               
                  <tr *ngFor="let item of userData">           
                    <td class="data-row" *ngFor="let key of getUserData()">{{item[key]}}</td>
                    <button type="button" (click)="deleteUser(item['token'])">Delete</button>
                    <button *ngIf="!enableEdit" type="button" (click)="cancelCreate();this.createButton = false;enableEditMethod($event, item)">Edit</button>
                    
                  </tr>

             </tbody>
        </table>
  </div>

</section>