body {
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding: 1em 0;
  
}

header > a {
  color: white;
  text-decoration: none;
}

header > nav {
  float: right;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}

li a {
  padding: 1em;

}

li a:hover {
  color: darken(white, 10%);
  text-decoration: none;
}
